<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md" data-th-fragment="navigator">
    <div class="container">
        <!-- nav title -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarsContainer" aria-controls="navbarsExampleContainer" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/" th:href="@{/}">Simple Intelligence Board</a>
        <!-- /.nav title -->
        <!-- homepage search nav -->
        <div class="collapse navbar-collapse" id="navbarsContainer">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:if="${#httpServletRequest.getRequestURI() == '/blogs'}">
                    <a class="nav-link" href="javascript:void(0)" th:attr="url='/blogs?order=new'">newest
                        <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item" th:if="${#httpServletRequest.getRequestURI() == '/blogs'}">
                    <a class="nav-link" href="javascript:void(0)" th:attr="url='/blogs?order=hot'">hottest</a>
                </li>

                <form class="form-inline mt-2 mt-md-0" th:if="${#httpServletRequest.getRequestURI() == '/blogs'}">
                    <input class="form-control mr-sm-2" type="text" placeholder="search" id="indexkeyword"
                           th:value="${keyword}">
                    <a href="javascript:void(0)" class="btn btn-outline-secondary my-2 my-sm-0" id="indexsearch">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </form>
            </ul>
            <!-- /.homepage search nav -->
            <!-- person nav -->
            <div sec:authorize="isAuthenticated()" class="row">
                <div class="dropdown">
                    <!--<a class=" dropdown-toggle" href="/u/jasonw" th:href="@{'/u/' + ${#authentication.name}}"-->
                       <!--data-toggle="dropdown"><span sec:authentication="name"></span></a>-->
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/u/jasonw" th:href="@{'/u/' + ${#authentication.name}}"
                       data-toggle="dropdown">your list</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/u/jasonw" th:href="@{'/u/' + ${#authentication.name}}">homepage</a>
                        <a class="dropdown-item" href="/u/jasonw/profile"
                           th:href="@{'/u/' + ${#authentication.name}} + '/profile'">personal settings</a>
                        <a class="dropdown-item" href="/u/jasonw/blogs/edit" th:href="'/u/' + ${#authentication.name} + '/blogs/edit'">new blog</a>
                    </div>
                </div>

                <!--<div>-->
                    <!--<a href="/u/jasonw/blogs/edit" th:href="'/u/' + ${#authentication.name} + '/blogs/edit'"-->
                       <!--class="btn btn-outline-success my-2 my-sm-0">new blog</a>-->
                <!--</div>-->

                <form action="/logout" th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-success " type="submit" value="sign out">
                </form>
            </div>
            <!-- /.person nav -->
            <!-- login nav -->
            <div sec:authorize="isAnonymous()">
                <a href="/login" class="btn btn-outline-success my-2 my-sm-0" type="submit">login</a>
                <a href="/register" class="btn btn-outline-success my-2 my-sm-0" type="submit">sign up</a>
            </div>
            <!-- /.login nav -->
        </div>
    </div>
</nav>
</body>
</html>